---
http_interactions:
- request:
    method: post
    uri: https://www.swish.bankgirot.se/qrg-swish/api/v1/prefilled
    body:
      encoding: UTF-8
      string: '{"format":"png"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      X-Application-Context:
      - application:8080
      Content-Type:
      - application/json;charset=UTF-8
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: '{"timestamp":1510327401582,"status":400,"error":"Bad Request","exception":"java.lang.IllegalArgumentException","message":"The
        size parameter is required when using format PNG","path":"/qrg-swish/api/v1/prefilled"}'
  recorded_at: Fri, 10 Nov 2017 15:23:23 GMT
recorded_with: VCR 3.0.3
